{{#section 'css'}}
<style>
    .myinfo, .myinfo td { /*border: 1px solid black;*/ }
    .myinfo { border-collapse: collapse; width: 300px;
        margin: 0 auto; }
    .myinfo td { padding: 7px }
    .myinfo td:first-child { font-weight: bold;
        text-align: right }
</style>
{{/section}}

{{#section 'script'}}
{{/section}}

<main>
    <h2>회원정보</h2>
    <table class="myinfo">
        {{#mb}}
        <tr><td>아이디</td><td>{{userid}}</td></tr>
        <tr><td>이름</td><td>{{name}}</td></tr>
        <tr><td>이메일</td><td>{{email}}</td></tr>
        <tr><td>가입일</td><td>{{regdate}}</td></tr>
        {{/mb}}
    </table>
</main>