{{#section 'css'}}
{{/section}}

{{#section 'script'}}
{{/section}}

<main>
    <h1>시군구동 찾기</h1>
    <div>
        <select name="sido" id="sido">
            <option>-- 시도 --</option>
        </select>
        <select name="gugun" id="gugun">
            <option>-- 시군구 --</option>
        </select>
        <select name="dong" id="dong">
            <option>-- 읍면동 --</option>
        </select>
    </div>

    <div>
        <p></p>
    </div>
</main>