{{#section 'css'}}
<style>
    #updatefrm { width: 560px; }
</style>
{{/section}}

{{#section 'script'}}
<script src="/js/update.js"></script>
{{/section}}

<main>
    <div id="main">
        <h2>게시판 글 수정하기</h2>
        {{#bds}}
        <form name="update" id="updatefrm">
            <div><label for="title">제목</label>
                <input type="text" name="title" id="title" value="{{title}}"></div>

            <div><label for="uid">작성자</label>
                <input type="text" name="uid" id="uid"
                       value="{{ userid }}" readonly></div>

            <div><label for="contents" class="drgup">본문</label>
                <textarea name="contents" id="contents"
                          rows="7" cols="55">{{contents}}</textarea></div>

            <div><label></label>
                <button type="button" id="updatebtn">수정완료</button>
                <button type="reset">다시입력</button>
            </div>
        </form>
        {{/bds}}
    </div>
</main>